---
Checks: "*,
         -bugprone-*,
         -clang-analyzer-*,
         -concurrency-*,
         -cppcoreguidelines-*,
         -google-*,
         -llvm*,
         -misc-*,
         -modernize-*,
         -performance-*,
         -readability-*
"
