---
Checks:
  - "-*"
  - "bugprone-*"
  - "clang-analyzer-*"
  - "concurrency-*"
  - "cppcoreguidelines-*"
  - "google-*"
  - "misc-*"
  - "modernize-*"
  - "performance-*"
  - "readability-*"
ExtraArgs:
  - "-Wno-unknown-warning-option"
